<!DOCTYPE html>
<html lang="{{ site.lang | default: "es" }}">

  {% include head.md %}

  <body>

    {% include navbar-homepage.md %}

    {%if page.url == "/" %}
    <section class="page-header">
      <img   itemprop="image" class="project-logo" src="{{ '/assets/img/logo.png' }}"></img>
      <h1   itemprop="name" class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
    </section>
    {%endif%}

      <section class="main-content">
        {{ content }}

      </section>
    </section>

    {% include footer.md %}

    {% include javascript.md %}

  </body>
</html>
